/* stylesheet.css */

/* ================================================== General styling ================================================== */

body {
    /* Background */
    background-color: #2f2f2f;


    /* Text */
    color: white;
    
}

h1 {
    color: #f0f0f0;
    text-align: center;
    font-size: 72px;
}

h2 {
    text-align: center;
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12;
}

hr {
    height: 3px;
    width: 80%;
    background-color: black;
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

.action {

}

.content {
    margin-left: 150px;
    margin-right: 150px;
}

button {
    background-color: darkgrey;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

/* ================================================== Navigation ================================================== */
.top_nav_bar {
    background-color: darkgrey;
    overflow: hidden;
    height: 65px;
    margin-left: 75px;
    margin-right: 75px;
}

.top_nav_internal a {
    background-color: inherit;
    height: inherit;

    position: relative;
    float: left;

    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    
    padding: 20px 10px;
}

.top_nav_external a {
    background-color: inherit;
    height: 65px;
    width: 50px;

    padding: 10px 20px;

    position: relative;
    float: right;
}



.top_nav_bar a:hover {
    background-color: lightgrey;
    color: black;
}

/* ================================================== Name ================================================== */


/* ================================================== About ================================================== */

/* ================================================== Contact ==================================================*/

.contact {
    background-color: darkgrey;
    margin-left: 75px;
    margin-right: 75px;

}

.contact p {
    text-align: right;
}


/* ================================================== Tic Tac Toe ==================================================*/

.ttt {

}

.ttt_game {
    margin-left: 45%;
}

.ttt_game button {
    margin-left: 2px;
    margin-top: 2px;
    height: 40px;
    width: 20px;
    position: relative;
    color: black;

    font: monospace;
}


.ttt_reset button {
    /* Only seems to work in div*/
    margin-left: 45%;
}


/* ================================================== Chess ==================================================*/

.chess_board div {
    float: left;
    width: 35px;
    height: 35px;
    margin: 1px;
    padding: 10px;
    border: 1px solid grey;
    color: red;
}

.chess_board img {
    height: 40px;
    width: 40px;
}

.chess_board br {
    font-size: 350%;
    /*line-height: 50px;*/
}