/* stylesheet.css */

/* ================================================== Tic Tac Toe ==================================================*/

.ttt {

}

.ttt_game {
    margin-left: 45%;
}

.ttt_game button {
    margin-left: 2px;
    margin-top: 2px;
    height: 40px;
    width: 20px;
    position: relative;
    color: black;

    font: monospace;
}


.ttt_reset button {
    /* Only seems to work in div*/
    margin-left: 45%;
}

.ttt p, ul {
    text-indent: 25px;
}