/* stylesheet.css */

/* General styling */

title {
	color: tomato;
}

body {
	background-color: white;
}

h1 {
	color: black;
	background-color: lightgrey;
	text-align: center;
	font-size: 48;
}

h2 {
	font-size: 36;
}

h3 {
	font-size: 24;
}

p {
	font-size: 12;
}

hr {
	height: 3px;
	width: 80%;
	background-color: black;
	border: none;
}

/* ========== Navigation ========== */
.top_nav_external {
	background-color: black;
	position: relative;
	float: left;
	text-align: center;
	padding: 12px 25px;
	text-decoration: none;
	font-size: 24px;
}

.top_nav_external a:hover {
	background: lightgrey;
}

.top_nav_internal {
	background-color: black;
	position: relative;
	float: right;
	color: white;
	text-align: center;
	padding: 12px 25px;

	font-size: 24px;
}

.top_nav_internal a {
	color: white;
	text-decoration: none;
}

.top_nav_internal a:hover {
	background-color: lightgrey;
}

/* Name */


/* About */