/* stylesheet.css */

/* ============================== CHESS ============================== */

.white-square {
    /* Bootstrap -light (~lightgray)*/
    background-color: white;
}

.black-square {
    /* Bootstrap -dark (~gray)*/
    background-color: grey;
}

.chess-moved {
    background-color: mediumseagreen;
}

.chess-passive-hover {
    /* Bootstrap -active??? */
    background-color: lightgray;
}

.chess-active-hover {
    /* Bootstrap -info (~teal) */
    background-color: lightblue;
}

.chess-active {
    background-color: lightskyblue;
}

.chess-legal {
    background-color: lemonchiffon;
}

.chess-attacked {
    background-color: red;
}

.chess-legal-hover {
    background-color: lightgreen;
}





