/* stylesheet.css */

/* ================================================== Tic Tac Toe ==================================================*/

.ttt {

}

.ttt_game {
    margin-left: 45%;
}

.ttt_game button {
    margin-left: 2px;
    margin-top: 2px;
    height: 40px;
    width: 20px;
    position: relative;
    color: black;

    font: monospace;
}


.ttt_reset button {
    /* Only seems to work in div*/
    margin-left: 45%;
}

.ttt p, ul {
    text-indent: 25px;
}

/* ============================== CHESS ============================== */

.white-square {
    /* Bootstrap -light (~lightgray)*/
    background-color: white;
}

.black-square {
    /* Bootstrap -dark (~gray)*/
    background-color: grey;
}

.chess-passive-hover {
    /* Bootstrap -active??? */
    background-color: lightgray;
}

.chess-active-hover {
    /* Bootstrap -info (~teal) */
    background-color: lightblue;
}

.chess-active {
    background-color: lightskyblue;
}

.chess-legal {
    background-color: lemonchiffon;
}

.chess-attacked {
    background-color: red;
}

.chess-legal-hover {
    background-color: green;
}

.chess-move {
    background-color: seagreen;
}



